.ScrollUpButton__Container {
  align-items: center;
  border: 0;
  border-radius: 50%;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 45px;
  justify-content: center;
  opacity: 0;
  outline: none;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in 0s;
  width: 45px;
  z-index: 1000;

  &.ScrollUpButton__Toggled {
    opacity: 1;
    z-index: 100;
  }
}
