// basic
.dv-home-specialties {
  padding-bottom: 49px;
  padding-top: 97px;

  .dv-main-menu .dv-page-titles {
    margin-top: 0;
    margin-bottom: 74px;
    font-size: 32px;
    margin-top: 84px;
    padding-right: 3vw;
    padding-left: 3vw;
    line-height: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    color: #333 !important;
  }

  .dv-padding-sp {
    padding: 0 4.5vw;
    justify-content: center;

    .main-container {
      max-width: 80%;
      display: flex;
      justify-content: center;

      a {
        margin-bottom: 61px !important;
        margin: 14px 0;
        transition: box-shadow 0.5s;
        box-shadow: 0px 0px 0px 0px transparent;

        &:hover {
          box-shadow: 0px 0px 19px 0 #afafafcc;
        }
        .specialties-image {
          margin: auto;
          max-width: 224px;
        }
      }
    }

    .dv-plus {
      background: white;
      padding: 0 1em;
    }

    .dv-plus-hr {
      margin-top: -14px;
    }
  }

  .dv-main-menu {
    padding-top: 0;

    .dv-page-titles {
      margin-top: 0;
    }

    .dv-text-testimonial {
      color: #555;
      margin-top: -25px;
      padding-bottom: 56px;
      padding-right: 3vw;
      padding-left: 3vw;
      font-weight: 400;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
    }

    .dv-spc-title {
      letter-spacing: 1px;
      font-size: 19px;
      margin-top: 20px;
      line-height: 20px;
      margin-bottom: 0;
      font-weight: 500;
      font-family: $bebas-bold;
      text-transform: uppercase;
    }

    .dv-spc-desc {
      line-height: 24px;
      padding: 0 10px;
      min-height: 140px;
      color: #555;
      flex-direction: column;
      align-items: center;
      display: flex;
      font-weight: 400;
      justify-content: center;
    }

    .dv-spc-div {
      color: $home-text;
      cursor: pointer;

      i {
        color: $home-text;
      }
    }

    hr {
      max-width: 91%;
      border-color: $home-text;
    }
  }
}

@media #{$sm-mob-pt, $sm-mob-ld, $st-mob-pt, $st-mob-ld, $lg-mob-ld, $lg-mob-pt, $st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  section.dv-home-specialties {
    padding-bottom: 21px;
    padding-top: 76px;

    > .dv-main-menu {
      h1.dv-page-titles {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 60px;
      }

      p.dv-text-testimonial {
        font-size: 15px;
      }
    }

    .dv-padding-sp {
      .main-container {
      }
    }
  }
}

@media #{$st-des, $lg-des} {
  .dv-home-specialties {
    .dv-padding-sp {
      .main-container {
      }
    }
  }
}

@media #{$sm-mob-pt, $st-mob-pt, $lg-mob-pt} {
  .dv-home-specialties {
    .main-container {
      padding: 0;
      max-width: 100% !important;

      .dv-spc-desc {
        font-size: 15px !important;
        line-height: 24px;
        min-height: 0 !important;
      }
    }
  }
}

@media #{$sm-des} {
  .dv-home-specialties {
    > div.dv-main-menu {
      padding: 0 5vw;
    }
  }
}

@media #{ $st-des} {
  .dv-home-specialties {
    > .dv-main-menu {
      padding: 0 10vw;
    }
  }
}

@media #{$lg-des} {
  .dv-home-specialties {
    > .dv-main-menu {
      padding: 0 13vw;
    }
  }
}

@media #{$lg-tab-ld, $st-tab-ld} {
  .dv-home-specialties {
    .dv-spc-desc {
      font-size: 15px !important;
      line-height: 24px;
      min-height: 160px !important;
    }
  }
}

@media #{$lg-tab-pt, $st-tab-pt, $lg-mob-ld} {
  .dv-home-specialties {
    padding-bottom: 49px;
    padding-top: 97px;

    .dv-spc-desc {
      font-size: 15px !important;
      line-height: 24px;
      min-height: 160px !important;
    }

    > .dv-main-menu {
      > .dv-padding-sp {
        padding: 0 4.5vw;
        justify-content: center;

        .main-container {
          margin: auto;

          a {
            padding: 0 5vw;
          }
        }
      }
    }
  }
}
@media #{$sm-des} {
  .dv-home-specialties {
    > .dv-main-menu {
      .dv-spc-desc {
        min-height: 160px !important;
      }
    }
  }
}
@media #{$lg-tab-ld} {
  .dv-home-specialties {
    > .dv-main-menu {
      .dv-spc-desc {
        min-height: 110px !important;
      }
    }
  }
}

@media #{$sm-des, $st-des, $lg-des} {
  .dv-home-specialties {
    padding-bottom: 49px;
    padding-top: 97px;

    > .dv-main-menu {
      > .dv-padding-sp {
        padding: 0;
        justify-content: center;

        .main-container {
          padding: 0 2%;
        }
      }

      .dv-spc-desc {
        font-size: 16px;
        line-height: 24px;
        min-height: 110px;
      }
    }
  }
}
