section.dv-procedures {
  padding-bottom: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 50px;
  background: $white;
  .procedures-additional-text {
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.42, 0, 0.35, 0.93);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 10vw;
    min-height: 180px;
    max-height: 200px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #fff;
    font-weight: 500;
    &.visible {
      opacity: 1;
      visibility: visible;
      @media screen and (max-width: 850px) {
        background: #f8f9fac2;
        color: #000;
      }
    }
  }
  .dv-page-titles {
    font-size: 32px;
    line-height: 54px;
    margin-bottom: 56px;
    margin-top: 47px;
    color: #333 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }

  .procedures-block {
    margin: auto;

    a {
      cursor: pointer;
      justify-content: center;
      margin-bottom: 50px;
      &:hover {
        .dv-image-div {
          filter: brightness(0.5);
        }

        .dv-plus {
          background-color: #91c508 !important;
        }
      }

      .dv-procedures-content {
        background: white;
        border: 1px solid rgba(153, 153, 153, 0.5);
        cursor: pointer;
        height: 100%;
        margin: auto;
        max-width: 400px;
        transition: transform 1s cubic-bezier(0.42, 0, 0.35, 0.93);
        width: 100%;
      }

      h3 {
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 13px !important;
        margin-top: 23px !important;
        text-transform: uppercase;
      }

      .dv-image-div {
        max-height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10vw !important;
        min-height: 130px;
        transition: filter 1s;
        &.big {
          min-height: 180px;
          max-height: 200px;
        }
      }

      .procedures-box {
        margin-bottom: 1em;
        .dv-plus {
          background-color: #222;
          border-radius: 50%;
          color: #fff;
          font-size: 14px;
          height: 24px;
          margin: 1px 0 22px;
          padding: 5px !important;
          width: 24px;
        }
      }
    }
  }
}

// Mobile views
@include small-mobile-screen(portrait) {
  section.dv-procedures {
    .procedures-block {
      a {
        padding: 0;
      }
    }

    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}

@include small-mobile-screen(landscape) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}

@include standard-mobile-screen(portrait) {
  section.dv-procedures {
    .procedures-block {
      a {
        padding: 0;
      }
    }

    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}

@include standard-mobile-screen(landscape) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}
@media #{$sm-mob-pt, $sm-mob-ld, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld} {
  section.dv-procedures {
    padding-bottom: 37px;
  }
}
@include large-mobile-screen(portrait) {
  section.dv-procedures {
    padding-bottom: 37px;
    .procedures-block {
      a {
        padding: 0;
      }
    }

    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}

@include large-mobile-screen(landscape) {
  section.dv-procedures {
    padding-bottom: 37px;
    .dv-page-titles {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
  }
}

// Tablet view
@include standard-tablet-screen(portrait) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 58px;
      margin-top: 17px;
    }
  }
}

@include standard-tablet-screen(landscape) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 58px;
      margin-top: 17px;
    }
  }
}

@include large-tablet-screen(portrait) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 58px;
      margin-top: 17px;
    }
  }
}

@include large-tablet-screen(landscape) {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 31px;
      margin-top: 17px;
    }
  }
}

// Desktop views
@include tiny-desktop-screen {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 68px;
      margin-top: 47px;
    }

    .procedures-block {
      h3 {
        font-size: 13px !important;
        line-height: 20px;
      }
    }
  }
}

@include standard-desktop-screen {
  section.dv-procedures {
    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 56px;
      margin-top: 47px;
    }

    .procedures-block {
      h3 {
        font-size: 13px !important;
        line-height: 20px;
      }
    }
  }
}

@include large-desktop-screen {
  section.dv-procedures {
    padding: 50px 3vw;

    .procedures-block {
      a {
        .dv-procedures-content {
          max-width: 28vw;
        }
      }
    }

    .procedures-block {
      h3 {
        font-size: 13px !important;
        line-height: 20px;
      }
    }

    .dv-page-titles {
      font-size: 32px;
      line-height: 54px;
      margin-bottom: 56px;
      margin-top: 47px;
    }
  }
}
