@import '_side-nav';
@import '_burger';

#dv-header {
  height: 70px;
  @media screen and (max-width: 850px){
    height: 60px !important;
  }
  font-weight: 400;
  align-items: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  position: sticky;
  top: 0;
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 5;
  a.current {
    color: white !important;
  }
  .dv-more {
    font-size: 0.7em;
    margin-left: 0.3em;
  }

  .sidenav {
    background: #222;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 60px;

    &::before {
      background: #0000008f;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &.header-dark {
    background: #222;
    border-color: #333;
    color: #999;

    ul.sub-menu {
      background: #222;
    }

    nav {
      margin: 0;
      padding-left: 5vw;
      padding-right: 5vw;

      li.nav-item {
        a.nav-link {
          color: #999;
          font-size: 13px;
          padding-bottom: 1rem;
          padding-left: 1.05rem;

          padding-right: 1.05rem;
          padding-top: 1rem;

          i.icon-phone {
            margin-right: 2em;
          }
        }
      }

      li {
        a {
          color: #999;
          font-size: 13px;
          padding-left: 0.75em;

          .active {
            color: $white !important;
          }

          &:hover {
            color: $white !important;
          }
        }
      }
    }
  }

  &.header-light {
    background: $white;
    border-color: #999;
    color: #333;

    ul.sub-menu {
      background: $white;
    }

    nav {
      li {
        a {
          color: #555 !important;
          font-size: 13px;

          .color {
            color: black !important;
          }

          &:hover {
            color: black !important;
          }
        }
      }
    }
  }

  nav {
    padding-left: 0;
    padding-right: 0;
    width: -webkit-fill-available;

    &::after {
      background: #222;
      content: '';
      height: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 65%;
      z-index: 1;
    }

    .navbar-brand {
      cursor: pointer;
      padding: 0;

      img {
        transition: transform 0.3s;
        width: 100px;
      }
    }

    li {
      a {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        position: relative;
        text-decoration: none !important;
        text-transform: uppercase;
        z-index: 100;

        &.backface-anim {
          background: #222;
        }
      }

      ul.sub-menu {
        list-style: none;
        opacity: 0;
        padding: 0;
        position: absolute;
        transform: translate3d(0, -100%, 0);
        transition-delay: 0s;
        transition-duration: 1s;
        transition-property: opacity, visibility, transform;
        transition-timing-function: cubic-bezier(0.42, 0, 0.35, 0.93);
        visibility: hidden;

        &.visible {
          opacity: 1;
          visibility: visible;
        }

        li {
          border-bottom: solid 1px $border-menu;
          padding: 0.5rem;
          padding-right: 3rem;

          a {
            font-size: 11px;

            &:last-of-type {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  a {
    .burger-icon {
      @include burger(25px, 1px, 5px, #999999);
    }

    &.active {
      .burger-icon {
        @include burger-to-cross;
      }
    }
  }
  @media only screen and (max-width: 850px) {
    font-weight: 700;
    position: fixed !important;
    width: 100%;
    &::before {
      background: #222;
      border-bottom: 1px solid #333;
      border-top: 0;
      color: #999;
      content: '';
      height: 101%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@include small-mobile-screen(portrait) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }

    .side-nav-wrapper {
      top: 45px !important;

      &.toggled {
        height: calc(100vh - 45px) !important;
      }
    }
  }

  .hideNav {
    transform: translate3d(0, -100%, 0);
  }
}

@include small-mobile-screen(landscape) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }
  }

  .hideNav {
    transform: translate3d(0, -100%, 0);
  }

  .side-nav-wrapper {
    top: 45px !important;

    &.toggled {
      height: calc(100vh - 45px) !important;
    }
  }
}

@include standard-mobile-screen(portrait) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }
  }

  .hideNav {
    transform: translate3d(0, -100%, 0);
  }

  .side-nav-wrapper {
    top: 45px !important;

    &.toggled {
      height: calc(100vh - 45px) !important;
    }
  }
}

@include standard-mobile-screen(landscape) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;

        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }
  }

  .hideNav {
    transform: translate3d(0, -100%, 0);
  }

  .side-nav-wrapper {
    top: 45px !important;

    &.toggled {
      height: calc(100vh - 45px) !important;
    }
  }
}

@include large-mobile-screen(portrait) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }
  }

  .hideNav {
    transform: translate3d(0, -100%, 0);
  }

  .side-nav-wrapper {
    top: 45px !important;

    &.toggled {
      height: calc(100vh - 45px) !important;
    }
  }
}

@include large-mobile-screen(landscape) {
  #dv-header {
    nav {
      &.navbar {
        padding: 0;
        padding-left: 5vw !important;
        padding-right: 5vw !important;

        .navbar-brand {
          img {
            width: 90px;
          }
        }
      }
    }

    .hideNav {
      transform: translate3d(0, -100%, 0);
    }

    .side-nav-wrapper {
      top: 45px !important;

      &.toggled {
        height: calc(100vh - 45px) !important;
      }
    }
  }
}

@include standard-tablet-screen(portrait) {
  .hideNav {
    transform: translate3d(0, -100%, 0);
  }
}

@include standard-tablet-screen(landscape) {
  .hideNav {
    transform: translate3d(0, -100%, 0);
  }
}

@include tiny-desktop-screen {
  #dv-header {
  }

  nav {
  }

  .navbar-brand {
    img.scroll {
      transform: scale(0.9) translate(-6px, 0);
    }
  }
}

@include large-tablet-screen(portrait) {
  #dv-header {
    nav {
      &.navbar {
        .navbar-brand {
          img.scroll {
            transform: scale(0.9) translate(-6px, 0);
          }
        }
      }
    }
  }
}

@include large-tablet-screen(landscape) {
  #dv-header {
    nav {
      .navbar-brand {
        img.scroll {
          transform: scale(0.9) translate(-6px, 0);
        }
      }
    }
  }
}

@include standard-desktop-screen {
  #dv-header {
    nav {
      .navbar-brand {
        img.scroll {
          transform: scale(0.9) translate(-6px, 0);
        }
      }
    }
  }
}

@include large-desktop-screen {
  #dv-header {
    nav {
      .navbar-brand {
        img.scroll {
          transform: scale(0.9) translate(-6px, 0);
        }
      }
    }
  }
}
