section.dv-side-content {
  background: $white;
  width: 100%;
  height: auto;
  &.specialties {
    > div {
      height: auto;

      > main {
        article .dv-content footer .image {
          max-width: 150px;
        }
        .image {
          background-position: center;
          min-height: calc(50vh - 75px);
          max-height: 70vh;
        }
        article {
          display: flex;
          flex-wrap: wrap;
          min-height: calc(50vh - 75px);
          
          a {
            cursor: pointer;
            font-weight: 700;
            padding: 10px 20px;
            font-family: Roboto, sans-serif;
            color: #222 !important;
            border: solid 1px #222;
            text-transform: uppercase;
            background-color: white;
            font-size: 15px;
            &:hover{
              background-color: #222 !important;
              color: #fff !important;
            }
          }
        }
        .dv-content {
          min-height: calc(50vh - 75px);
          max-height: 70vh;
        }
      }
    }
  }
  @media screen and (max-width: 850px) {
    padding: 0px 5vw;
  }
  padding: 0;
  > div {
    height: auto;
    > main {
      .image {
        background-position: center;
        min-height: calc(100vh - 75px);
      }
      article {
        display: flex;
        flex-wrap: wrap;
        min-height: calc(100vh - 75px);
        &.dv-margin-bottom {
          @media screen and (min-width: 850px) {
            margin-bottom: 120px;
          }
        }
        &.right {
          @media screen and (min-width: 850px) {
            flex-direction: row-reverse;
            min-height: auto;
          }
        }
        .image {
          background-position: center;
          min-height: calc(100vh - 75px);
          background-size: cover;
          width: 50%;
          @media screen and (max-width: 850px) {
            width: 100%;
            min-height: 300px;
          }
        }
        .dv-content {
          width: 50%;
          padding: 0 5vw;
          @media screen and (max-width: 850px) {
            width: 100%;
            padding: 0;
            padding-bottom: 90px;
            min-height: auto;
            padding-top: 23px;
          }
          min-height: calc(100vh - 75px);
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          ul {
            font-size: 15px;
            line-height: 24px;
            li {
              padding: 1px 0;
            }
            @media screen and (max-width: 850px) {
              font-size: 15px;
              line-height: 24px;
              li {
                padding: 6px 0;
              }
            }
          }
          main {
            &.no-bottom {
              padding-bottom: 0;
            }
            width: 100%;
            padding-bottom: 60px;
            padding-top: 60px;
            &.dv-border-top {
              border-top: 1px solid #eee;
            }
            &.dv-border-bottom {
              border-bottom: 1px solid #eee;
            }
            @media screen and (max-width: 850px) {
              border: 0 !important;
              padding-bottom: 0;
              padding-top: 10px;
            }
            > * {
              padding-left: 0;
            }
            main {
              padding-bottom: 40px;
              padding-top: 40px;
              @media screen and (max-width: 850px) {
                margin-bottom: -15px;
                padding-bottom: 0;
              }
            }
          }
          header {
            text-align: center;
            flex-direction: column;
            display: flex;
            > * {
              width: fit-content;
              min-width: 50%;
            }
            .bebas {
              font-family: "Bebas Neue Bold";
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              text-align: left;
            }
            h1 {
            }
            h2 {
            }
            h3 {
            }
            h4 {
            }
            h5.bebas {
              font-size: 16px;
              line-height: 24px;
              @media screen and (max-width: 850px) {
                font-size: 15px;
                line-height: 24px;
              }
            }
            h6 {
            }

            .roboto {
              font-family: Roboto;
            }
            h1 {
            }
            h2 {
            }
            h3.roboto {
              font-size: 24px;
              line-height: 26px;
              @media screen and (max-width: 850px) {
                font-size: 18px;
                line-height: 20px;
              }
            }
            h4 {
            }
            h5 {
            }
            h6 {
            }
          }

          footer {
            @media screen and (max-width: 850px) {
              padding-top: 40px;
            }
            button {
            }
            .image {
              width: 100%;
              min-height: 0;
              max-width: 228px;
            }
          }
        }
      }
    }
  }
}
