// 404-error Main Styles
section.error-404 {
  text-align: center;

  h1 {
    margin-top: 100px;
    line-height: 240px;
    margin-bottom: 45px;
    color: #999999;
    font-weight: 400;
    font-size: 266px;
    font-family: $bebas-bold;
  }

  .error-box {
    font-size: 24px;
    border: solid 1px black;
    width: auto;
    margin: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 300;
    font-family: 'Roboto';
    line-height: 28px;
    color: #333;
    padding: 15px;
    margin-bottom: 90px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &.error-paragraph-1 {
      margin-bottom: 30px;
    }

    &.error-paragraph-2 {
      margin-bottom: 92px;
    }
  }

  .dv-search-area-blog {
    margin-bottom: 100px;

    form {
      width: fit-content;
      margin: auto;
      background: #ededed !important;
      border: solid 1px;

      input {
        min-width: 50vw;
        border: none;
        padding: 10px;
        border-right: 1px solid;
        background: #ededed !important;
      }

      button {
        padding: 10px;
        background: none;
        border: none;
        background: #ededed !important;
        color: #555;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  section.error-404 .dv-search-area-blog form input {
    color: #333;
  }
}

// Error 404 mobile Styles
@media #{$sm-mob-ld, $sm-mob-pt, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld, $st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  @media #{only screen and (orientation: portrait) and (max-width: 650px)} {
    section.error-404 .dv-search-area-blog form {
      width: auto !important;
      margin: auto !important;
      border: solid 1px !important;
      margin-left: 5vw !important;
      margin-right: 5vw !important;
    }
    section.error-404 .dv-search-area-blog form input {
      min-width: 70vw;
    }

    section.error-404 .dv-search-area-blog form button {
      padding: 10px;
      min-width: 18vw;
    }
  }
  section.error-404 {
    text-align: center !important;

    h1 {
      margin-top: 60px !important;
      line-height: 105px;
      margin-bottom: 30px;
      font-size: 140px;
    }

    .error-box {
      font-size: 18px;
      margin-bottom: 39px;
      line-height: 24px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      margin-left: 5vw;
      margin-right: 5vw;

      &.error-paragraph-1 {
        margin-bottom: 30px;
      }

      &.error-paragraph-2 {
        margin-bottom: 42px;
      }
    }

    .dv-search-area-blog {
      margin-bottom: 90px;
    }
  }
}
