section.dv-static-legal {
  padding: 20px 0 25px;
  margin-bottom: 72px;
  margin-left: calc(5vw - 15px);
  margin-right: calc(5vw - 15px);
  font-family: Roboto;
  font-weight: 400;
}

.dv-cookies-policy,
.dv-privacy-policy,
.dv-legal-advise {
  h1 {
    font-size: 36px;
    margin-top: 74px;
    line-height: 40px;
    margin-bottom: -7px;
    font-family: $bebas-bold;
    color: $bg-gray;
    font-weight: 400 !important;
  }

  i {
    font-weight: 400 !important;
  }

  a {
    color: $green;
    word-break: break-word;
  }

  h3 {
    font-family: $bebas-bold;
    margin-top: 109px;
    font-size: 24px;
    font-family: Roboto;
    color: $bg-gray;
    font-weight: 700 !important;
    line-height: 24px;
    margin-bottom: 51px;
  }

  ul,
  ol {
    margin-top: -4px;
    padding-bottom: 4px;
    margin-bottom: 20px;

    li {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: Roboto;
      color: #555;
    }
  }

  div.paragraph-group {
    ol,
    ul {
      li {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Roboto;
        color: #555;
      }
    }

    margin-top: -4px;
    padding-bottom: 1px;
    margin-bottom: -6px;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #555;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media #{$sm-mob-ld, $sm-mob-pt, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld, $st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  section.dv-static-legal {
    padding: 11px 0 87px;
    margin-bottom: 0;
  }

  .dv-cookies-policy,
  .dv-privacy-policy,
  .dv-legal-advise {
    h1 {
      padding-left: 0;
      padding-right: 0;
      margin-top: 33px;
      margin-bottom: (-32px) !important;
    }

    h3 {
      padding-left: 0;
      margin-top: 79px;
      margin-bottom: 53px !important;
      font-size: 23px;
      line-height: 24px;
    }

    ul,
    ol {
      margin-top: -3px;
      padding-bottom: 11px;

      li {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    div.paragraph-group {
      ol,
      ul {
        li {
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
        }

        margin-bottom: 16px;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
