* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
a:focus,
div:focus {
  outline: none;
  outline: none;
}
.layout-wrapper {
  div {
    > section {
      //margin: -1px 0;
    }
  }
}
.modal {
  overflow: hidden !important;
}

a,
button {
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
}

button:hover {
  color: inherit !important;
}

body {
  color: #555;
  font-family: $roboto;
  font-weight: bold;
  margin: 0;
  padding: 0 !important;
}

a:hover {
  text-decoration: none;
}

.image-gallery-right-nav::before {
  content: "\e902" !important;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  font-size: 2.5em !important;
  padding: 25vh 0 !important;
}
.mobile-layout-wrap {
  padding-top: 60px;
}
.image-gallery-index {
  background: transparent !important;
  font-size: medium !important;
  left: 0 !important;
  font-weight: 300 !important;
  padding: 0.7em 10px !important;
  position: fixed !important;
  top: 0 !important;
  width: fit-content !important;
}

.image-gallery-slide {
  background: transparent !important;

  display: flex;
  justify-content: center;
}

.popupbox-overlay {
  opacity: 0.95 !important;
}

.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: white !important;
}

.image-gallery-slide img {
  max-height: calc(100vh - 4rem);
  object-fit: contain;
}

.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  background: #0202026b;
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  padding: 0.3em 0;
}

.image-gallery-left-nav::before {
  content: "\e901" !important;
}

// Helpers
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.whiteSpace {
  height: 120px;
  .roboto {
    font-family: "Roboto";
  }
  .dark {
    color: #333;
  }
  h1 {
    font-size: 32px;
    line-height: 54px;
  }
}

@media screen and (max-width: 850px) {
  .whiteSpace {
    height: 90px !important;

    h1 {
      font-size: 24px;
      line-height: 26px;
    }
  }
}

.popupbox-content {
  background: none !important;
  overflow: visible;
  padding: 5px !important;
  width: 100% !important;
}

.popupbox-wrapper {
  background: none !important;
  border-radius: 0 !important;
  height: 100% !important;
  justify-content: center;
  max-width: 100% !important;
  overflow: visible !important;
  padding: 0 !important;
  width: 100% !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  header.header-dark nav li a:hover {
    color: inherit !important;
  }

  #dv-footer .dv-copyright .dv-social-media a:hover {
    background-color: #222222 !important;
    color: #91c508 !important;
  }
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #999;
}

.dv-map iframe {
  width: 100%;
  min-height: 60vh;
  border: none;
  @media screen and (max-width: 850px) {
    min-height: 70vh;
  }
}

.dv-specialties-parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    background-attachment: fixed;
  }
}

.dv-form {
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 850px) {
    padding-top: 84px;
    padding-bottom: 59px;
  }
  &:before {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  align-items: center;
  padding-top: 100px;
  padding-bottom: 104px;
  flex-direction: column;
  @media screen and (max-width: 850px) {
    padding-top: 71px;
    padding-bottom: 59px;
  }
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    padding: 0 5vw;
    line-height: 54px;
    margin-bottom: 58px;
    @media screen and (max-width: 850px) {
      margin-bottom: 48px;
      font-size: 24px;
      line-height: 28px;
    }
    color: white !important;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .msg {
    padding: 0 5vw;
    margin-bottom: 40px;
    font-size: 14px;
    color: #b7b7b7;
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }
  form {
    justify-content: center;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;

    option {
      font-size: 15px;
    }
    aside {
    }
    button {
      padding: 1em;

      border: none;
      color: #fff;
      font-family: "Bebas Neue Bold";
      letter-spacing: 1px;
      background: #7eaa0b;
      max-width: 304px !important;
      font-size: 16px;
      float: none;
      margin: auto;
      width: 50%;
      @media screen and (min-width: 850px) {
        float: right;
      }
    }
    textarea {
      width: 100%;
      background: #33333363;
      border: 1px solid #777676;
      padding: 10px 15px;
      font-size: 16px;
      margin-bottom: 0;
      width: 100%;
      color: #b7b7b7;
      font-family: Roboto, sans-serif;
      font-weight: 300 !important;
      &:focus {
        outline: solid 1px #91c508;
      }
    }
  }

  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7px;
    margin: 0;
    padding-left: 7px;
    height: fit-content;
    padding-bottom: 15px;
  }
  span {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    input,
    select {
      width: 100%;
      padding-left: 5px;
      background: #33333363;
      border: 1px solid #777676;
      padding: 10px 15px !important;
      font-size: 16px;
      width: 100%;
      color: #b7b7b7 !important;
      font-family: Roboto, sans-serif;
      font-weight: 300 !important;
      &:focus {
        outline: solid 1px #91c508;
      }
    }
    select {
      padding: 5px;
    }
  }
}

.pagination {
  margin-top: 25px;
    margin-bottom: 97px;
  align-items: center;
  justify-content: center;
  li {
    font-weight: 300;
  }
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #ddd !important;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 9px 15px;
  margin: 2px;
  color: #000;
}

/* Blog styles */



.dv-sidebar{
  background: #ededed;
      padding: 2% 2% calc(2% + 10px)!important;
  .dv-recent-content img{
          max-width: 80px;
  float: left;
  margin-right: 8px;
  }
  .dv-newsletter-sidebar{justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  input{    width: 93%;
  margin-top: 4px;
  margin-bottom: 14px;
  border: 1px solid #ddd;
  background: #f4f4f4;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding-left: 5px;}
  input.tnp-submit {
      width:93%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background: #91c508;
  padding: 4px 20px;
  transition: all .8s;
  text-decoration: none;
  border: none;
  margin-bottom: 18px;
  color: #fff;
}
  h5{
      list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1.5
  }
  
      img{
          max-width:80%;
          margin: 10%
      }
  }
  li{
      list-style: none;
   
     
      font-size: 14px;
      line-height: 2;
      font-weight:400;
      a{ color: #333 ;
         
      }
       :hover {
      color: #9b9a9a !important;}
  }
  hr{
      margin-top: 0!important;
  border-top: 2px solid #767575;
  }
  .dv-recent-content .dv-title {
      margin-left: 90px;
     
      font-size: 14px;
      line-height: 1.42857143;
      font-weight:400;
      a{ color: #333 ;
         
      }
       :hover {
      color: #9b9a9a !important;}
      
}
  h4{
          font-family: "Bebas Neue Bold";
  font-weight: normal;
  font-size: 18px;
  color: #333;
  }
  .dv-latest-post{
      margin-top: 30%;
  }
  .dv-search-area-blog{border: solid 1px black;
      input{
          border: none;
          display: inline-flex;
          border-right: 1px solid black;
          background: none;
          font-weight: 400;
          font-size: 14px;
          padding: 4px;
      }
      button{
          border:none;
          background: none;
          display:  inline-flex;
          justify-content: center;
          align-items: center;
          padding: 4px 15px;
      }
  }
}
.columns{
  .col-md-6{
      display: flex;
      margin-bottom: 50px;
  }
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li.active > span,
.pagination > li.active > a {
  background-color: #222;

  color: #fff !important;
}
.blog-list-item {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d8d8d8;
  .gatsby-image-wrapper {
    min-height: 275px;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid rgba(145, 197, 8, 0.6);
  }
  .post-meta {
    border-top: 5px solid #202020;
    padding: 3% 7%;
    text-align: left;
    a {
      font-family: "Bebas Neue Bold";
      font-weight: normal;
      font-size: 18px;
      color: #333;
    }
  }
  span {
    font-size: 10px;
    font-weight: 400;
  }
  p {
    padding: 0 7% 3%;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: 400;
    a.button {
      font-family: "Bebas Neue Bold";
      font-size: 14px;
      color: #91c508;
    }
  }
}
