// Media query mixins
@import '_media-queries.sass';

// Spaces and content size functions // mixins
@import '/spacing/_index';

// Required fonts
@import '_fonts';

// Theme colors
@import '/colors/_index';

// Layout components
@import '/layout/_index';

// General styles and global helpers
@import '_general';

// Page styles
@import '/pages/_index';

// Component styles
@import '/components/_index';

@import '../../node_modules/react-image-gallery/styles/scss/image-gallery.scss';

.modal-backdrop.someClass {
  height: 0;
  background: #fff;
  -webkit-transition: height linear 0.6s;
  transition: height linear 0.6s;
  opacity: 0.9 !important;

  visibility: visible;
}

.modal {
  transition: height linear 0.6s !important;
  opacity: 1 !important;
  visibility: visible;
}

.modal-dialog.someClass {
  opacity: 1 !important;
  max-width: -webkit-fill-available;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.modal.show {
  height: 100% !important;
}

.modal.fade {
  height: 0 !important;
}

.modal.fade.show {
  height: 100% !important;
}
@media #{$sm-mob-ld, $sm-mob-pt, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld, $st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  .modal-content .modal-body .form .input-group {
    font-size: 30px !important;
  }
}
.modal-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
  width: 100%;
  background: none;
  outline: 0;
  border: none;

  .modal-header {
    border: none !important;
    position: absolute;
    top: 0;
    right: 0;

    button {
      color: #333;
      font-size: 4em;
      z-index: 1000;
      font-weight: 100;
      opacity: 1;

      span {
        font-weight: 100;
        color: #333;
      }
    }
  }

  .modal-body {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;

    .form {
      justify-content: center;
      display: flex;
      align-items: center;

      .input-group {
        min-width: 70vw;
        font-size: 55px;
        padding: 0.5em 0.2em;
        padding-bottom: 0.2em;
        color: #333;
        border-bottom: 2px solid #333;

        input {
          border: none;
          padding-right: 4vw;
          background: none;
          color: #333 !important;
          width: calc(100% - 1.4em);
          outline: 0;
          font-weight: 400;
          text-transform: capitalize;

          &::placeholder {
            color: #222;
          }
        }

        button {
          border: none;
          background: none;
          width: fit-content;
          color: #222;
          position: absolute;
          right: 0.5em;
        }
      }
    }
  }
}

.someToggled {
  height: 100vh !important;
}

.modal-backdrop {
  background: #fff;
}

.modal-backdrop.show {
  opacity: 0.9;
  background: #fff;
  height: 100vh;
}
