#dv-footer {
  @include standard-flex-properties(false, auto, column, auto, auto);

  background: $dark-grey;
  text-align: center;
  width: 100%;
  .dp-location {
    padding-left: calc( 5vw - 14px);
    padding-right: calc( 5vw - 14px);
    background-color: $dark-grey;
    color: $light-grey;
    width: 100%;

    > .dv-main-menu {
      padding-bottom: 40px;
      padding-top: 40px;
      .conditionall-br {
        display: none;

        @media screen and( max-width: 850px) {
          display: block !important;
        }
      }
      .mobile-teeth-logo {
        display: none;
        margin-bottom: 40px;
        margin-top: 10px;
        max-width: 80vh;
        margin: auto;
        width: 80%;
        @media screen and( max-width: 850px) {
          display: block !important;
        }
      }

      .div-img-foot {
        max-width: 100px;
      }

      .dv-slogan {
        font-family: $bebas-bold;
        font-weight: normal;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding-top: 15px;
        text-transform: uppercase;
      }

      .dv-footer-address {
        @include standard-flex-properties(false, auto, column, auto, auto);
        width: 100%;

        .dv-address-p {
          border-top: 1px solid $line-grey;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          max-width: 100%;
          padding-bottom: 15px;
          padding-top: 15px;
          width: max-content;

          em {
            font-weight: 500;
          }
        }

        .dv-phone-div {
          display: none !important;

          @media screen and( max-width: 850px) {
            display: flex !important;
          }
          @include standard-flex-properties(false, auto, row, center, auto);

          margin: 6%;
          width: 80%;

          div {
            margin: 0 1em;
            justify-content: center;
            @include standard-flex-properties(false, auto, column, auto, auto);

            a {
              border: solid 1px;
              border-radius: 50%;
              color: gray;
              padding: 0.2rem 0.4rem;

              //i {}
            }
          }
        }

        .dv-logos-div {
          margin-bottom: 45px;
          width: -webkit-fill-available;

          img {
            background-color: $dark-grey;
            border-left: 0.5em solid $dark-grey;
            border-right: 0.5em solid $dark-grey;
            display: inline-block;
            max-width: 120px;
            @media screen and (max-width: 320px) {
              display: block !important;
              margin: 15px auto !important;
            }
          }

          hr {
            border-top: 1px solid $line-grey !important;
            margin-top: -16px;
            @media screen and (max-width: 320px) {
              display: none !important;
            }
          }
        }

        .dv-contact-link {
          color: $white;
          font-size: 12px;
          cursor: pointer;
          font-family: $roboto;
          font-weight: 700;
          text-decoration: underline;
          text-transform: uppercase;

          &:hover {
            color: $icon-grey;
          }

          &:focus,
          &:visited {
            color: $white;
          }
        }
      }
    }
  }

  .dv-copyright {
    padding-left: calc( 5vw - 14px);
    padding-right: calc( 5vw - 14px);
    background-color: $footer-black;
    font-family: $roboto;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 26px;
    width: 100%;

    .dv-social-media {
      @include standard-flex-properties(false, auto, auto, auto, auto);

      a {
        @include standard-flex-properties(false, auto, column, auto, auto);
        background-color: $dark-grey;
        color: $green;
        height: 30px;

        margin-left: 3px;
        padding: 5px 6px 5px 5px;
        width: 30px;

        &.instagram {
          font-weight: 700;
          padding: 5px 5px 4px 5px;

          i {
            font-size: 17px;
          }
        }

        &.facebook {
          font-weight: 700;
          padding: 7px 5px 6px;

          i {
            font-size: 17px;
            padding-left: 3px;
            padding-right: 3px;
            padding-top: 0;
          }
        }

        &:hover {
          background-color: $green;
          color: $footer-black;
        }
      }
    }

    .copyright-text {
      padding-bottom: 0;
      padding-top: 15px;

      p,
      img {
        display: inline-block;
        margin: 3px;
      }

      .dv-copy {
        font-size: 15px;
        line-height: 21px;
        color: $text-gray;

        .copyright-icon {
          max-width: 13px;
        }
      }

      .dv-legal-links {
        margin-top: 10px;
        font-size: 12px;

        a {
          color: #999 !important;
          text-decoration: none;

          &:hover {
            color: $white !important;
          }
        }
      }
    }
  }
}

@media #{$sm-mob-pt} {
  #dv-footer {
    .dp-location {
      > .dv-main-menu {
        .dv-slogan {
          font-size: 18px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 14px;
            line-height: 21px;
          }

          .dv-logos-div {
            img {
              width: 33%;
            }
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }

    .dv-copyright {
      .copyright-text {
        .dv-copy {
          font-size: 12px;
          line-height: 15px;
        }

        .dv-legal-links {
          a {
            font-size: 12px;
            line-height: 15px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@include small-mobile-screen(landscape) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 18px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 14px;
            line-height: 21px;
          }

          .dv-logos-div {
            img {
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 12px;
          line-height: 15px;
        }

        .dv-legal-links {
          a {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

@include standard-mobile-screen(portrait) {
  #dv-footer {
    .dp-location {
      > .dv-main-menu {
        .dv-slogan {
          font-size: 18px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 14px;
            line-height: 21px;
          }

          .dv-logos-div {
            img {
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      .copyright-text {
        .dv-copy {
          font-size: 12px;
          line-height: 15px;
        }

        .dv-legal-links {
          a {
            font-size: 12px;
            line-height: 15px;
            margin: 0 2vw;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@include standard-mobile-screen(landscape) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 18px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 14px;
            line-height: 21px;
          }

          .dv-logos-div {
            img {
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 15px;
          line-height: 20px;
        }

        .dv-legal-links {
          a {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

@include large-mobile-screen(portrait) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 20px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              max-width: 150px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 15px;
          line-height: 20px;
        }

        .dv-legal-links {
          a {
            font-size: 16px;
            line-height: 12px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@include large-mobile-screen(landscape) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 20px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              max-width: 150px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 12px;
            line-height: 15px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 15px;
          line-height: 20px;
        }

        .dv-legal-links {
          a {
            font-size: 16px;
            line-height: 12px;
          }
        }
      }
    }
  }
}

@include standard-tablet-screen(portrait) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 20px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              max-width: 150px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 16px;
            line-height: 12px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 15px;
          line-height: 20px;
        }

        .dv-legal-links {
          a {
            font-size: 16px;
            line-height: 12px;
          }
        }
      }
    }
  }
}

@include standard-tablet-screen(landscape) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 20px;
          line-height: 24px;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              max-width: 150px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 16px;
            line-height: 12px;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 15px;
          line-height: 20px;
        }

        .dv-legal-links {
          a {
            font-size: 16px;
            line-height: 12px;
          }
        }
      }
    }
  }
}

@include tiny-desktop-screen {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 1.25vw;
          line-height: 1.428571429;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              border-left: 1.5em solid $dark-grey;
              border-right: 1.5em solid $dark-grey;
              max-width: 170px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 0.8333333333vw;
          line-height: 1.428571429;
        }

        .dv-legal-links {
          margin-top: 0;

          a {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;
          }
        }
      }
    }
  }
}

@include large-tablet-screen(portrait) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 1.25vw;
          line-height: 1.428571429;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              border-left: 1.5em solid $dark-grey;
              border-right: 1.5em solid $dark-grey;
              max-width: 170px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 0.8333333333vw;
          line-height: 1.428571429;
        }

        .dv-legal-links {
          margin-top: 0;

          a {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;
          }
        }
      }
    }
  }
}

@include large-tablet-screen(landscape) {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 1.25vw;
          line-height: 1.428571429;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              border-left: 1.5em solid $dark-grey;
              border-right: 1.5em solid $dark-grey;
              max-width: 170px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 0.8333333333vw;
          line-height: 1.428571429;
        }

        .dv-legal-links {
          margin-top: 0;

          a {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;
          }
        }
      }
    }
  }
}

@include standard-desktop-screen {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 1.25vw;
          line-height: 1.428571429;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              border-left: 1.5em solid $dark-grey;
              border-right: 1.5em solid $dark-grey;
              max-width: 170px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 0.8333333333vw;
          line-height: 1.428571429;
        }

        .dv-legal-links {
          margin-top: 0;

          a {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;
          }
        }
      }
    }
  }
}

@include large-desktop-screen {
  #dv-footer {
    .dp-location {
      padding-left: 3vw;
      padding-right: 3vw;

      > .dv-main-menu {
        .dv-slogan {
          font-size: 1.25vw;
          line-height: 1.428571429;
        }

        .dv-footer-address {
          .dv-address-p {
            font-size: 16px;
            line-height: 24px;
          }

          .dv-logos-div {
            img {
              border-left: 1.5em solid $dark-grey;
              border-right: 1.5em solid $dark-grey;
              max-width: 170px;
              width: 33%;
            }

            //hr {}
          }

          .dv-contact-link {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;

            //&:hover {}

            //&:focus,
            //&:visited {}
          }
        }
      }
    }

    .dv-copyright {
      padding-left: 3vw;
      padding-right: 3vw;

      .copyright-text {
        .dv-copy {
          font-size: 0.8333333333vw;
          line-height: 1.428571429;
        }

        .dv-legal-links {
          margin-top: 0;

          a {
            font-size: 0.8333333333vw;
            line-height: 1.428571429;
          }
        }
      }
    }
  }
}
@media #{$sm-mob-pt, $sm-mob-ld, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld} {
  .div-img-foot {
    max-width: 90px !important;
  }
  #dv-footer {
    .dv-copyright .copyright-text .dv-copy {
      font-size: 13px !important;
      line-height: 19px !important;
    }
    .dv-copyright .copyright-text .dv-legal-links a {
      font-size: 12px !important;
      line-height: 15px !important;
    }
    .dp-location {
      > .dv-main-menu {
        .dv-slogan {
          font-size: 18px !important;
          line-height: 24px !important;
        }
        .dv-footer-address {
          .dv-phone-div {
            align-items: center !important;
            justify-content: center;
            margin-top: 0 !important;

            .dv-mr-7perct {
              font-size: 18px !important;
              margin: 0 1em;

              a {
                align-items: center;
                display: flex;
                font-size: 1.5em;
                height: fit-content;
                justify-content: center;
                margin-bottom: 5px;
                padding: 0.3em;
                width: fit-content;
              }
            }
          }
          .dv-address-p {
            font-size: 14px !important;
            line-height: 21px !important;
          }
        }
      }
    }
  }
}

@media #{$st-tab-ld, $st-tab-pt, $lg-tab-pt, $lg-tab-ld} {
  .mobile-teeth-logo {
    max-width: 320px !important;
  }
  #dv-footer .dp-location > .dv-main-menu .dv-footer-address .dv-phone-div {
    align-items: stretch;
    justify-content: center;
    div {
      align-items: center;
      padding: 0 2em;
    }
  }
}
