#BasicContent-cp {
  background: white;
  &.bebas-title {
    background-color: #ededed;
    .dv-main-menu {
      .dv-page-titles {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 2px;
        font-family: "Bebas Neue Bold";
      }
    }
  }
  .dv-main-menu {
    .dv-page-titles {
      color: $bg-gray;
      font-family: "Roboto", sans-serif;
      font-weight: 300 !important;
      text-align: center;
    }

    .dv-subtitle {
      color: $main-gray;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }

    .smallnot {
      display: none;
    }
    .dv-subtitle-small {
      color: $main-gray;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 6px !important;
      margin-top: -20px;
      text-align: center;
      span {
        color: $label-red;
      }
    }
  }
}

// Desktop views
@media screen and (min-width: 850px) {
  #BasicContent-cp {
    padding: 0 5vw;
   
    .dv-main-menu {
      padding: 107px 0 103px;

      .dv-page-titles {
        font-size: 32px;
        line-height: 24px;
        margin-bottom: 65px;
        margin-top: 0;
      }

      .dv-subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
        padding-left: 12%;
        padding-right: 12%;
      }

      .dv-subtitle-small {
        margin-bottom: 2px;
      }
    }
  }
}

// Tablet views
@media #{$st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  #BasicContent-cp {
    padding: 0 5vw;

    .dv-main-menu {
      padding: 80px 0;

      .dv-page-titles {
        font-size: 32px;
        line-height: 24px;
        margin-bottom: 38px;
        margin-top: 0;
      }

      .dv-subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
        padding-left: 12%;
        padding-right: 12%;
      }
      .dv-subtitle-small {
        margin-bottom: 2px;
      }
    }
  }
}

// Mobile views
@media screen and (max-width: 850px) {
  #BasicContent-cp {
    padding: 0 5vw;
    &.bebas-title {
      .dv-main-menu {
        .dv-page-titles {
          font-size: 40px;
        }
      }
    }
    .dv-main-menu {
      padding: 80px 0;

      .dv-page-titles {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 33px;
        margin-top: 0;
      }

      .dv-subtitle {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}

.dv-specialties-heading {
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  > .dv-main-menu {
    padding: 100px 5vw 78px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 850px) {
      padding: 90px 5vw 69px;
    }
  }
  .image {
    max-width: 72px;
    width: 100%;
    margin-bottom: 29px;
    @media screen and (max-width: 850px) {
      margin-bottom: 24px;
    }
  }
  p {
    max-width: 80%;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    font-style: italic;
    text-align: center;
    color: #ccc;
    @media screen and (max-width: 850px) {
      line-height: 24px;

      font-size: 17px;
    }
  }
}
