#Home-Parallax-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  &::before,
  &::after {
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  img {
    margin: auto;
    max-width: 100%;

    &#Home-Parallax-layer-desktop {
      margin-top: 120px;
      min-width: 80%;
      margin-bottom: 120px;
    }

    &#Home-Parallax-layer-landscape,
    &#Home-Parallax-layer-portrait,
    &#Home-Parallax-layer-portrait-xl {
      margin-top: 90px;
      margin-bottom: 90px;
    }

    &#Home-Parallax-layer-portrait,
    &#Home-Parallax-layer-portrait-xl {
      min-width: 80%;
    }
  }
}
#Home-Parallax-layer-desktop,
#Home-Parallax-layer-landscape,
#Home-Parallax-layer-portrait-xl,
#Home-Parallax-layer-portrait {
  display: none;
}

@media only screen and (min-width: 850px) and (orientation: landscape) {
  #Home-Parallax-layer-desktop {
    display: block !important;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  #Home-Parallax-layer-landscape {
    display: block;
  }
}

@media only screen and (max-height: 700px) and (orientation: portrait) {
  #Home-Parallax-layer-portrait {
    display: block;
  }
}
@media only screen and (min-height: 701px) and (orientation: portrait) {
  #Home-Parallax-layer-portrait-xl {
    display: block;
  }
}
