#parallax-cp {
  overflow: hidden;

  .dv-parallax-banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 110px);
    width: 100%;

    .notVisible {
      display: none !important;
    }
    &::before {
      background-attachment: fixed;
    }
  }

  .dv-arrow-banner {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 1.7361111111vw;
  }

  .dv-title-parallax {
    position: absolute;
    top: 56%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -56%);

    .dv-banner-title-parallax {
      h1 {
        font-weight: 700;
        text-shadow: 0 0 5px #000;
        color: #fff;
        font-size: 60px;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

@media #{$sm-mob-ld, $sm-mob-pt, $st-mob-pt, $st-mob-ld, $lg-mob-pt, $lg-mob-ld, $st-tab-pt, $st-tab-ld, $lg-tab-pt, $lg-tab-ld} {
  #parallax-cp {
    overflow: hidden;

    .dv-parallax-banner {
      height: calc(100vh - 54px);
    }

    .dv-arrow-banner {
      font-size: 2em;
    }

    .dv-title-parallax {
      .dv-banner-title-parallax {
        h1 {
          font-weight: 700;
          text-shadow: 0 0 5px #000;
          color: #fff;
          font-size: 40px;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}
