@mixin standard-flex-properties(
  $auto: true,
  $align: auto,
  $direction: auto,
  $justify: auto,
  $display: auto
) {
  @if $auto==true {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  @if $align==auto {
    align-items: center;
  } @else {
    align-items: $align;
  }

  @if $display==auto {
    display: flex;
  } @else {
    display: $display;
  }

  @if $direction==auto {
    flex-direction: row;
  } @else {
    flex-direction: $direction;
  }

  @if $justify==auto {
    justify-content: center;
  } @else {
    justify-content: $justify;
  }
}
