@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kvjefd');
  src:  url('fonts/icomoon.eot?kvjefd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kvjefd') format('truetype'),
    url('fonts/icomoon.woff?kvjefd') format('woff'),
    url('fonts/icomoon.svg?kvjefd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e900";
}
.icon-10:before {
  content: "\e901";
}
.icon-9:before {
  content: "\e902";
}
.icon-8:before {
  content: "\e903";
}
.icon-7:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-5:before {
  content: "\e906";
}
.icon-4:before {
  content: "\e907";
}
.icon-3:before {
  content: "\e908";
}
.icon-2:before {
  content: "\e909";
}
.icon-1:before {
  content: "\e90a";
}
.icon-angle-down:before {
  content: "\e90b";
}
.icon-angle-left:before {
  content: "\e90c";
}
.icon-angle-right:before {
  content: "\e90d";
}
.icon-angle-up:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-quotes-close:before {
  content: "\e910";
  color: #666;
}
.icon-quotes-open:before {
  content: "\e911";
  color: #666;
}
.icon-blog:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e915";
}
.icon-map-marker-alt:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e919";
}
.icon-times:before {
  content: "\e91a";
}
.icon-angle-double-up:before {
  content: "\e91b";
}
.icon-whatsapp:before {
  content: "\ea93";
}

.ScrollUpButton__Container {
  align-items: center;
  border: 0;
  border-radius: 50%;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 45px;
  justify-content: center;
  opacity: 0;
  outline: none;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in 0s;
  width: 45px;
  z-index: 1000;
}

.ScrollUpButton__Container.ScrollUpButton__Toggled {
  opacity: 1;
  z-index: 100;
}
.count-indicator {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  font-size: 2.2em;
  font-weight: 100;

  user-select: none;
  color: white;
  text-shadow: 2px 4px 9px black;
}
.RCP {
  width: 100% !important;
  height: 100% !important;
}
.RCP svg {
  width: 100% !important;
  height: 100% !important;
}

.slick-dots li.slick-active button::before {
  color: #91c508 !important;
  opacity: 1 !important;
}

.slick-dots li button::before {
  color: #999;
  font-size: 10px !important;
  opacity: 1 !important;
}
.slick-dots li button::before::hover {
  color: #91c508 !important;
}

.slick-dots li {
  margin: -3px !important;
}
