.dv-specialties-faq {
  > .dv-main-menu {
    padding-top: 78px;
    margin: 0;
    padding: 50px 5vw;
    padding-bottom: 104px;
    @media screen and (max-width: 768px) {
      .dv-bb-colapse{
        display: none;
        &.last{
          display: block;
        }
      }
    }
  }
  h1 {
    width: 100%;
    font-weight: 300;
    color: #333;
    font-size: 32px;
    line-height: 54px;
    padding-top: 48px;
    padding-bottom: 48px;
    @media screen and (max-width: 850px) {
      font-size: 24px;
      line-height: 24px;
      padding-top: 32px;
      padding-bottom: 52px;
    }
  }
  .panel-group {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  h5 {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #333;
    font-weight: 700;
    padding-top: 13px;
    margin-bottom: 13px;
    padding-left: 0;
    font-family: Roboto;
  }
  i {
    padding: 5px;
    margin-right: 25px;
    font-size: 10px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    transition: transform 0.2s linear;
    &.rotate {
      transform: rotate(45deg);
    }
  }
  .panel-heading {
    border-top: 1px solid #ccc;
    &:hover {
      cursor: pointer;
      h5 {
        color: #91c508;
      }
      i {
        background: #91c508;
      }
    }
  }
  .panel-body {
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #555;
    padding: 20px 0 25px 45px;
    border-top: none !important;
    @media screen and(max-width:850px) {
      font-size: 15px;
      line-height: 21px;
    }
  }
}
