$black: #000;
$light-black: #0a0a0a;
$footer-black: #1c1c1c;
$dark-grey: #222;
$line-grey: #3a3a3a;
$icon-grey: #a0a0a0;
$light-grey: #999;
$text-gray: #9b9a9a;
$home-text: #9a9a9a;
$blackquote: #666;
$hover-color: #eee;
$grey-back: #ededed;
$white: #fff;
$green: #91c508;
$bg-gray: #333;
$gray-transparent: rgba(51, 51, 51, 0.8);
$border-dark: #5f5f5f;
$border-light: #e4e3e3;
$text-lgray: #b7b7b7;
$border-gray: #767575;
$green-button: #7eaa0b;
$green-hover: #568900;
$gray-light: #4c4c4c;
$bg-gray-dark: #202020;
$bg-light: #f5f5f5;
$link-lgray: #aaa;
$border-menu: #2e2e2e;
$overlay-bg: #444;
$border-table: #808080;
$bg-gray-l: #e6e6e6;
$grey-quote: #c2c2c2;
$label-red: #f00;
$border-blog: #d8d8d8;
$grey-page: #ddd;
$main-gray: #555;
$bg-newsletter: #f4f4f4;
$transparent-box-gray: rgba(12, 12, 12, 0.7019607843);

@mixin plus-gradient($color: auto, $size: auto) {
  @if $color==white {
    background: linear-gradient(
      to top right,
      #fff0 0,
      #fff0 65%,
      #fffc 43%,
      #fffc 100%
    );
  } @else {
    @if $size==small {
      background: linear-gradient(
        to top right,
        #fff0 0%,
        #fff0 65%,
        $gray-transparent 43%,
        $gray-transparent 100%
      );
    } @else {
      background: linear-gradient(
        to top right,
        #fff0 0%,
        #fff0 53%,
        $gray-transparent 53%,
        $gray-transparent 100%
      );
    }
  }
}
