.dv-exterior {
  > .dv-main-menu {
    padding: 120px 5vw 0 5vw;
    margin: 0;
    > .row {
      margin: 0;
      width: 100%;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        @media screen and (max-width: 768px) {
          padding: 10vw;
        }
      }
      aside {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        @media screen and (max-width: 768px) {
          padding: 0;
        }
        padding-right: 0;
        > div {
          text-align: center;
          border: 25px solid #ededed;
          border-left-color: transparent !important;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          flex-direction: column;
          padding: 1.5vw 5vw;
        }
      }
      h1 {
        font-size: 32px;
        color: #333;
        font-weight: 700 !important;
        margin-bottom: 2.5vw;
      }
      p {
        color: #333;
        margin-bottom: 36px;
        font-weight: 400;
      }
      a {
        color: #fff;
        font-weight: 700;
        font-family: Roboto;
        text-transform: uppercase;
        border: 1px solid #222;
        font-size: 14px;
        background-color: #222;
        padding: 0.6944444444vw 1.3888888889vw;
        &:hover {
          background-color: #fff;
          border: 1px solid #222;
          color: #222;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .dv-exterior {
    > .dv-main-menu {
      > .row {
        .image {
          padding-bottom: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .dv-exterior {
    > .dv-main-menu {
      padding: 90px 5vw 0 5vw;
      > .row {
        .image {
        }
        aside {
          > div {
            padding: 7vw 2vw;
            margin-top: 0;
            border: 15px solid #ededed;
            border-left-color: #ededed !important;
            border-top-color: transparent !important;
            border-top: none !important;
          }
        }
        h1 {
          margin-top: -15px;
          font-size: 28px;
          line-height: 31px !important;
          margin-bottom: 50px !important;
        }
        p {
          line-height: 21px;
          font-size: 15px;
        }
        a {
          padding: 10px 20px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .dv-main-paragraph {
    align-items: center;
    padding: 90px 5vw 66px !important;
    .image-wrap {
      padding: 0;
      padding-left: 0 !important;
    }
    .image {
      margin-bottom: 56px;
      margin-right: auto !important;
      margin-left: auto !important;
    }
    aside {
      font-size: 15px;
    }
  }
}
.dv-main-paragraph {
  padding: 111px 5vw 96px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
  a {
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    color: #222 !important;
    border: solid 1px #222;
    text-transform: uppercase;
    background-color: white;
    font-size: 15px;
  }
  .dv-div-title {
    margin-bottom: 40px;
    color: #333;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 10px;
    font-size: 24px !important;
  }
  .dv-div-text.list{
    padding-left: 2.5em;
  }
  i.circle {
    left: 0;
    color: white;
    background: #91c508;
    padding: 4px;
    position: absolute;
    font-size: 0.75em;
    border-radius: 50%;
  }
  .image-wrap {
    padding: 0;
    padding-left: 5vw;
  }
  &.annexed{
    .image{
      max-width: 370px;
      width: calc(100% - 10vw);
    }
    .image-wrap {
      padding-left: 0;
    }
  }
  .image {
    max-width: 320px;
    width: calc(100%);
    border-radius: 50%;
    border: 1px solid #4c4c4c !important;
  }
  aside {
    font-size: 16px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-family: Roboto, sans-serif;
  }
}
